body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.bg1 {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1100px;

}

.nvhead {
    text-decoration: none;
    font-size: 14px;
}

.nav-item .nav-link {
    color: rgb(255, 253, 253);
}

.nav ul li {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    font-variation-settings: "wdth" 100;
}

.cnt p {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 10px;
    color: #bbd8ff;

}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    letter-spacing: 6px;
    margin-bottom: 0px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0px;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.container {
    width: 1000px;
    margin: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


.nav-link a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 10px;
}


.cnt {
    text-align: center;
    margin: 100px 0px;
    color: #ffffff;
}

.cnt a {
    background: #25365d;
    padding: 15px 60px;
    color: #ffffff;
    border-radius: 30px;
    margin: 50px 0px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}


.mid {
    margin-top: 0px;
    margin-bottom: 140px;
}

.row {
    display: flex;
    align-items: last baseline;
}

.col {
    width: 50%;
}

.col a {
    background: #25365d;
    padding: 15px 60px;
    color: #ffffff;
    border-radius: 30px;
    margin: 50px 0px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.col ul li {
    color: #7e5ef1;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    font: 16px;
}

.col ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 60px;
}

.col img {
    width: 100%;
}

.data h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    margin-top: 0;
    ;
}

.data p {
    color: #818182;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 30px;
}

.card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-right: 40px;
}

.card-section {
    padding: 140px 0px;
    background: #f7f9fb;
}

.card img {
    margin-right: 20px;

}

.card h4 {
    font-weight: bold;
    color: #25365d;
    font-size: 19px;
}

.data {
    width: 100%;
}

.fctrs {
    margin-top: 140px;
    margin-bottom: 140px;
    text-align: center;
}

.bg {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 720px;
    height: 500px;
}

.fctrs h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 0px;
    margin-bottom: 40px;
}

.footer-card {
    text-align: center;
}

.footer-content {
    margin-top: 140px;
    text-align: center;
}

.footer-content p {
    margin-bottom: 80px;
}

.footer-card p {
    width: 900px;
    margin: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0px;
}

.rows {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 80px 0px;
}

.cols {
    width: 30%;
    height: 280px;
    background: #ffffff;
    text-align: center;
    margin: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border-radius: 8px;
}

.colh {
    display: inline;
}

.footer-section {
    padding: 90px 0px;
    background: #f7f9fb;

}

.price {
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.price p {
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0px;
    color: #6e6c6c;
}

.cols p {
    color: #6e6c6c;
    padding-bottom: 10px;
    margin: 0px;
}

.footer {
    text-align: center;
    margin: 80px 0px;
    color: #5a6785;
    font-family: "Open Sans", sans-serif;

}

.footer h4 {
    font-size: 22px;
    font-weight: 500;
}

.footer P {
    margin-top: 0px;
}

.contact-outer {
    width: 550px;
    margin: auto;
}

.row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.col-2 {
    display: flex;
    align-items: center;

}

.col-2 img {
    margin-right: 10px;
}

.col-2 h4 {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.footer-content a {
    background: #25365d;
    padding: 15px 60px;
    color: #ffffff;
    border-radius: 30px;
    margin: 50px 0px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.bg2 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-image: url('../images/bg3.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

@media (min-width: 1200px) and (max-width: 1440px) { 
    .bg1 {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1100px;

}
}


@media (min-width: 768px) and (max-width: 1024px) {
    .bg1 {
            min-height: 800px;

    }
    .container,
    .footer-card p,
    .col,
    .cols,
    .card {
        width: 100%;
        margin-bottom: 30px;
    }
    .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px 0px;
    }
    .footer-section,
    .footer-content,
    .card-section,
    .mid {
        padding: 40px 20px;
    }
    .mid{
        padding-top: 0px;
    }
    .col h3{
        margin-top: 0px;
    }
    .data h4,
    .cols h4 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .cnt p,
    .col p,
    .col ul,
    .col ul li,
    .footer-content p,
    .data p,
    .footer p,
    .footer-card p,
    .cols p {
        font-size: 18px;
        line-height: 25px;
    }
    .price p{
        font-size: 16px;
        line-height: 25px;
    }
    .cols{
        width: calc(33.33% - 30px);
        margin:0px 15px;
    }
    .row,
    .cards {
        flex-wrap: wrap;
    }

    .col img {
        margin: 40px;
        width: 80%
    }

    .footer-card h3 {
        margin-bottom: 30px;
    }

    .cols {
        height: auto;
    }

}

@media screen and (max-width: 767px) {

    .container,
    .col,
    .cols,
    .contact-outer,
    .footer-card p {
        width: 100%;
    }
    .bg1{
        padding-bottom: 90px;
    }
    .cnt {
        margin-top: 0px;
    }
    .nav ul,
    .row,
    .rows,
    .row-2 {
        flex-wrap: wrap;
    }

    .card img {
        align-items: center;
    }
    .cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 30px;
    }
    .card p{
        line-height: 25px;
    }
    .card,
    .col h3,
    .cnt p,
    .col p,
    .col ul {
        margin: 15px;
    }

    .col a,
    .col img,
    .cols,
    .col-2 {
        margin: 20px 10px;
    }

    .cnt P,
    .col ul {
        margin-bottom: 60px;

    }

    .col img {
        width: 90%;
    }

    h1,
    h3 {
        font-size: 40px;
    }

    .bg2 {
        height: 30vh;
    }

    .footer-section,
    .footer-content,
    .card-section,
    .mid {
        padding: 40px 20px;
        margin: 0px 0px;
    }

    .cnt p {
        font-size: 15px;
    }

    .bg {
        background-size: 80%;

    }

    .fctrs {
        margin-bottom: 30px;
    }

    .cols {
        height: auto;
    }

    .logo img {
        padding-top: 9px;
    }

    .bg1 {
        min-height: auto;
    }
}


.hamburger {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.bar {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    right: 5px;
    transition: 0.5s ease-in-out;
}

.bar:first-child {
    transform: translateY(-7px);
    width: 15px;
}

.bar:last-child {
    transform: translateY(7px);
    width: 15px;
}

.hamburger.active .bar:first-child {
    width: 20px;
    transform: translateY(0) rotate(-315deg);
}

.hamburger.active .bar:nth-child(2) {
    transform: translateX(66px);
}

.hamburger.active .bar:last-child {
    width: 20px;
    transform: translateY(0) rotate(315deg);
}

nav {

    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    z-index: 99;
}

nav>a {
    color: black;
    text-decoration: none;
}

.nav-link {
    display: flex;
    position: relative;
    align-items: center;
}

.nav-link a {
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    padding: 2px;
}

.nav-link a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    transition: 0.5s;
    background: #007fe5;
}

.layer-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 88;
    display: none;
}

@media screen and (min-width: 769px) {
    .nav-link a:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-link {
        position: absolute;
        flex-direction: column;
        top: 90px;
        left: 0;
        width: 100%;
        height: 0vh;
        background: white;
        z-index: 100;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 5px 5px #ccc;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        align-items: flex-start;
        padding-right: 30px;
    }

    .nav-link a {
        background: white;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        color: #6e6c6c;
    }

    .nav-link a:last-child {
        margin-bottom: 10px;
    }

    .nav-link a:hover {
        background: #f5f5f5;
    }
}